<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" routerLink="/admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Panel Principal
                </a>

                <!-- Administracion del Restaurante-->
                <div class="sb-sidenav-menu-heading">Administracion Restaurante</div>
                
                <!-- ordenes -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOrdenes" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Ordenes
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseOrdenes" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/admin/inventario-details">Crear nueva</a>
                        <a class="nav-link" routerLink="/admin/inventario">Historial</a>
                    </nav>
                </div>
                
                <!-- contabilidad -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseContabilidad" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-money-bill"></i></div>
                    Contabilidad
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseContabilidad" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/admin/ventas">Flujo de caja</a>
                    </nav>
                </div>

                <!-- inventario -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInventario" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-scale-balanced"></i></div>
                    Inventario
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseInventario" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/admin/inventario-details">Crear nuevo</a>
                        <a class="nav-link" routerLink="/admin/inventario">Historial</a>
                    </nav>
                </div>

                <!-- configuracion -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseConfig" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Configuracion
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseConfig" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/admin/departamento">Departamentos</a>
                        
                        <nav class="sb-sidenav-menu-nested nav" id="sidenavAccordionMenu">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMenu" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Menu
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseMenu" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionMenu">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" routerLink="/admin/menu">Menu</a>
                                    <a class="nav-link" routerLink="/admin/menu">Item Menu</a>
                                </nav>
                            </div>
                        </nav>

                        <a class="nav-link" routerLink="/admin/tipoReceta">Tipos de recetas</a>
                        <a class="nav-link" routerLink="/admin/tipoProducto">Tipos de productos</a>
                        <a class="nav-link" routerLink="/admin/producto">Productos</a>
                        <a class="nav-link" routerLink="/admin/receta">Recetas</a>
                        <a class="nav-link" routerLink="/admin/receta">Restaurante</a>
                    </nav>
                </div>

                <div class="sb-sidenav-menu-heading">Administracion Fincas</div>
                <a class="nav-link" routerLink="/admin/fincas">
                    <div class="sb-nav-link-icon"><i class="fas fa-location-dot"></i></div>
                    Fincas
                </a>
                <a class="nav-link" routerLink="/admin/cultivos">
                    <div class="sb-nav-link-icon"><i class="fas fa-seedling"></i></div>
                    Cultivos
                </a>

                <div class="sb-sidenav-menu-heading">Administracion Sistema</div>
                <a class="nav-link" routerLink="/admin/usuarios">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Usuarios
                </a>
                <a class="nav-link" routerLink="/admin/bitacora">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Bitacora
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logueado como:</div>
            {{userLoggedIn}}
        </div>
    </nav>
</div>