<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Administracion de Departamentos</h1>
            <!-- <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol> -->
            <!-- <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Primary Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div [ngStyle]="{display: formHidden ? 'block' : 'none'}" class="row">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Agregar o Editar un Departamento
                    </div>
                    <div class="card-body">
                        <form name="departamentoForm" [formGroup]="departmentoForm" (ngSubmit)="departmentoForm.valid && onSubmit()" novalidate>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="nombre" class="form-label">Nombre del Departamento</label>
                                        <input type="text" class="form-control" name="nombre" aria-describedby="nombreHelp" formControlName="nombre" [ngClass]="{ 'is-invalid': departmentoForm.get('nombre')?.touched && departmentoForm.get('nombre')?.errors}">
                                        <div class="invalid-feedback" *ngIf="!departmentoForm.get('nombre')?.valid">
                                            <div id="nombreHelp" class="form-text">El nombre es requerido.</div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="responsable" class="form-label">Responsable del Departamento</label>
                                        <input type="text" list="responsablesOptions" class="form-control" name="responsable" aria-describedby="responsableHelp" formControlName="responsable" [ngClass]="{ 'is-invalid': departmentoForm.get('responsable')?.touched  && departmentoForm.get('responsable')?.errors}">
                                        <datalist *ngFor="let resp of responsables" id="responsablesOptions">
                                            <option value="{{resp.name}}">
                                        </datalist>
                                        <div class="invalid-feedback" *ngIf="departmentoForm.get('responsable')?.valid">
                                            <div id="responsableHelp" class="form-text">El responsable es requerido.</div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-danger" (click)="cancel()">Eliminar</button>
                                    <button type="submit" [disabled]="!departmentoForm.valid" class="btn btn-primary">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Departamentos
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple" class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Responsable</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dep of departamentos">
                                    <td (click)="edit(dep.id)">{{dep.nombre}}</td>
                                    <td>{{dep.responsable.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div [ngStyle]="{display: formHidden ? 'none' : 'block'}">
                            <button type="button" class="btn btn-primary" (click)="new()">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
