<h1 class="mt-4">Cocina - Pedidos Activos</h1>
<p>A continuacion los pedidos activos para la cocina</p>
<p><strong>Se atienden de Izquierda a Derecha!</strong></p>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Orden #1 - Mesa #3
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Plato 1</li>
              <li class="list-group-item">Plato 3</li>
              <li class="list-group-item">Postre 5</li>
              <li class="list-group-item">Postre 1</li>
            </ul>
          </div>
    </li>
    <li class="list-group-item">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Orden #2 - Mesa #2
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Plato 4</li>
                <li class="list-group-item">Plato 7</li>
            </ul>
          </div>
    </li>
    <li class="list-group-item"><div class="card" style="width: 18rem;">
        <div class="card-header">
            Orden #3 - Bar #1
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Boca 1</li>
        </ul>
      </div>
    </li>
    <li class="list-group-item">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Orden #1 - Mesa #3
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Plato 1</li>
              <li class="list-group-item">Plato 3</li>
              <li class="list-group-item">Postre 5</li>
              <li class="list-group-item">Postre 1</li>
            </ul>
          </div>
    </li>
    <li class="list-group-item">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Orden #2 - Mesa #2
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Plato 4</li>
                <li class="list-group-item">Plato 7</li>
            </ul>
          </div>
    </li>
    <li class="list-group-item"><div class="card" style="width: 18rem;">
        <div class="card-header">
            Orden #3 - Bar #1
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Boca 1</li>
        </ul>
      </div>
    </li>
    <li class="list-group-item">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Orden #1 - Mesa #3
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Plato 1</li>
              <li class="list-group-item">Plato 3</li>
              <li class="list-group-item">Postre 5</li>
              <li class="list-group-item">Postre 1</li>
            </ul>
          </div>
    </li>
    <li class="list-group-item">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Orden #2 - Mesa #2
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Plato 4</li>
                <li class="list-group-item">Plato 7</li>
            </ul>
          </div>
    </li>
    <li class="list-group-item"><div class="card" style="width: 18rem;">
        <div class="card-header">
            Orden #3 - Bar #1
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Boca 1</li>
        </ul>
      </div>
    </li>
  </ul>