
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">

                    <!-- alert -->
                    <div class="row justify-content-center"><div class="col-lg-5">
                        <div [ngStyle]="{display: alertShowing ? 'block' : 'none'}">
                            <div class="alert alert-{{alertInfo.type}} alert-dismissible fade show" role="alert">
                                {{alertInfo.message}}
                                <button type="button" class="btn-close" aria-label="Close" (click)="alertShowing = false"></button>
                            </div>
                        </div>
                    </div></div>

                    <!-- Login form -->
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" [(ngModel)]="inputEmail" name="inputEmail" type="email" />
                                            <label for="inputEmail">Correo Eletronico</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" [(ngModel)]="inputPassword" name="inputPassword" type="password" />
                                            <label for="inputPassword">Contrasenia</label>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="btn btn-primary" (click)="login()">Login</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a routerLink="/">No tienes una cuenta? Registrate!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>